.header {
    min-height: 5vw;
    hr {
        border: 1px solid #223046;
    }
    .header__wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo__link {
            text-decoration: none;
        }
        .logo__title {
            font-family: "Lato", sans-serif;
            color: #223046;
            font-size: 1.6vw;
            cursor: pointer;
        }
    }
    .person {
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-user {
            color: #223046;
            font-size: 1.6vw;
            cursor: pointer;
        }
    }
}